
		<div ng-show="switchTurn" class = "nextturn">
			<div>Moving to the next player</div>
			<button ng-click="switchTurnOff()">OK</button>
		</div>
		<div ng-show="!switchTurn">
		<div ng-show="gameOver">
			<div>The winner is {{winner}}.</div>
			<button ng-click="newGame()">Play again.</button>
		</div>
		<div ng-show="!gameOver">
			<h1>It is {{getCurrentPlayer().type}} turn.</h1>
		</div>
		
	<table id="cardcross" >
		<tr>
			<td ng-repeat="row in gameBoard.board"  class="score">
				{{gameBoard.getColValue($index)}}
			</td>
		</tr>
		<tr ng-repeat="row in gameBoard.board">
			<td ng-repeat="card in row track by $index"><div class="card" ng-class="{blankcard: !card}" ng-click="playCard($parent.$index, $index)">
				<div>{{card.value || '&nbsp;'}}</div>
				<div>{{card.type || '&nbsp;'}}</div>
			</div></td>
			<td class="score">
				{{gameBoard.getRowValue($index)}}
			</td>
		</tr>
	</table>

	<table id="playercards">
		<tr>
			<td>
				<div class="card" ng-class="{blankcard: !getCurrentPlayer().currentCard}">
					<div>{{getCurrentPlayer().currentCard.value || '&nbsp;'}}</div>
					<div>{{getCurrentPlayer().currentCard.type || '&nbsp;'}}</div>
				</div>
				Current Card
			</td>
			<td>
				<div class="card" ng-class="{blankcard: !getCurrentPlayer().reserveCard}" ng-click="reserve()">
					<div>{{getCurrentPlayer().reserveCard.value || '&nbsp;'}}</div>
					<div>{{getCurrentPlayer().reserveCard.type || '&nbsp;'}}</div>
				</div>
				Reserve Card
			</td>
		</tr>
	</table>
</div>
