<div class="landing-page">
  <div class="header" style="text-align: left;">
    <img style="width:30vw" src="static/logo.svg"></img>
</div>


<div class="landing-wrapper">
  <div class="landing-section left">
  	
  	<h2>Play Now!</h2>
    <div ng-show="!game.isMatching()">
      <form ng-submit="connect()" style="width:60%; margin-left: auto; margin-right: auto; valign:middle;">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Name to display." ng-model="name">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Match!</button>
        </span>
    </div>
</form>
</div>
<div ng-show="game.isMatching()">
  
  <object type="image/svg+xml" data="static/spinner.svg">
  </object>
</div>
</div>
<div class="landing-section right">
  <h2>Learn to Play</h2>
  <iframe width="420" height="315" src="//www.youtube.com/embed/32FB-gYr49Y" frameborder="0" allowfullscreen></iframe>
</div>
<div class="mid-icon-wrapper">
  <img src="static/or.svg" class="mid-icon"/>
</div>
</div>



<div class="landing-wrapper">
  <div class="landing-section left landing-footer">
      <h2>Sawyer Hood</h2>
      <img src="/static/sawyerface.png" class="footer-img" />
      <div>
        <a href="https://twitter.com/sawyerjhood">
          <img src="/static/twitter.png"  class="footer-img" />
      </a>

      <a href="https://www.facebook.com/sawyer.hood">
          <img src="/static/facebook.png"  class="footer-img" />
      </a>

      <a href="https://www.linkedin.com/pub/sawyer-hood/81/1a/242">
          <img src="/static/linkedin.png"  class="footer-img" />
      </a>
  </div>
</div>
</div>

<div class="landing-section right landing-footer">
  <h2>About the Author</h2>

  <p>I'm Sawyer a Computer Engineering Student from the University of Central Florida. Born and raised in Orlando and a computer enthusiast since I first hit puberty, It's my life's goal to make an impact on the world of computing. I currently make my living as a full stack developer and tangoing with the web is a part of my everyday life. When I'm not standing at my desk, I'm generally either at a concert or reading a book, or perhaps visiting th l ocal Trader Joe's. After College I hope to take a journey out west and see what Silicon Valley has in store for me.</p>
  <p>My expertise lies in Python and Django, but I also am more than just well versed in Java and Javascript as well. This game is an experiment in using NodeJS and can be viewed and downloaded <a href="https://github.com/SawyerHood/CrossCardJS">here</a>.</p>

</div>
</div>

